<?xml version="1.0"?>
<config>
  <modules>
    <Wdc_Cartex>
      <version>1.0.7</version>
    </Wdc_Cartex>
  </modules>
  <admin>
    <routers>
      <cartex>
        <use>admin</use>
        <args>
          <module>Wdc_Cartex</module>
          <frontName>cartex</frontName>
        </args>
      </cartex>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <promo>
        <children>
         <rulestemplate>
            <title>Cartex Promotion Rules</title>
            <sort_order>4</sort_order>
            <action>cartex/adminhtml_entity</action>
          </rulestemplate>
            <coupdup>
                <title>Cartex Coupon Duplicator</title>
                <sort_order>4</sort_order>
                <action>cartex/adminhtml_quote</action>
            </coupdup>
        </children>
      </promo>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <cartex>
                      <title>Cartex</title>
                    </cartex>
                  </children>
                </config>
              </children>
            </system>
            <promo>
              <children>
               <rulestemplate>
                 <title>Cartex Promotion Rules</title>
                  <sort_order>4</sort_order>
                  <action>cartex/adminhtml_entity</action>
                </rulestemplate>
                  <coupdup>
                      <title>Cartex Coupon Duplicator</title>
                      <sort_order>4</sort_order>
                      <action>cartex/adminhtml_quote</action>
                  </coupdup>
              </children>
            </promo>
            <system>
              <children>
                <config>
                  <children>
                    <cartex>
                      <title>WDC - Cartex</title>
                    </cartex>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <frontend>
    <routers>
      <checkout>
        <args>
          <modules>
            <Wdc_Cartex before="Mage_Checkout">Wdc_Cartex</Wdc_Cartex>
          </modules>
        </args>
      </checkout>
      <!--
      <cartex>
        <use>standard</use>
        <args>
          <module>Wdc_Cartex</module>
          <frontName>cartex</frontName>
        </args>
      </cartex>-->
    </routers>
    <translate>
      <modules>
        <Wdc_Cartex>
          <files>
            <default>Wdc_Cartex.csv</default>
          </files>
        </Wdc_Cartex>
      </modules>
    </translate>
    <layout>
      <updates>
        <cartex>
          <file>wdc_cartex.xml</file>
        </cartex>
      </updates>
    </layout>
  </frontend>
  <default>
    <config_vars></config_vars>
  </default>
  <global>
  
<!--
   <rewrite>
      <wdc_cartex_cart>
        <from><![CDATA[#^/checkout/cart/#]]></from>
        <to>/cartex/cart/</to>
      </wdc_cartex_cart>
    </rewrite>
-->
 
    <blocks>
      <cartex>
        <class>Wdc_Cartex_Block</class>
      </cartex>
    </blocks>
    <helpers>
      <cartex>
        <class>Wdc_Cartex_Helper</class>
      </cartex>
    </helpers>
    <models>
      <cartex>
        <class>Wdc_Cartex_Model</class>
        <resourceModel>cartex_mysql4</resourceModel>
      </cartex>
      <cartex_mysql4>
        <class>Wdc_Cartex_Model_Mysql4</class>
        <entities>
          <cart_products>
            <table>wdc_cartex_promo_product</table>
          </cart_products>
          <cart_item>
            <table>wdc_cartex_exception_item_entity</table>
          </cart_item>
          <cart_value>
            <table>wdc_cartex_exception_value</table>
          </cart_value>
          <cart_groups>
            <table>wdc_cartex_exception_groups</table>
          </cart_groups>
          <cart_entity>
            <table>wdc_cartex_exception_entity</table>
          </cart_entity>
          <cart_idx>
            <table>wdc_cartex_item_idx</table>
          </cart_idx>
          <cart_coupon>
            <table>wdc_cartex_coupon</table>
          </cart_coupon>
        </entities>
      </cartex_mysql4>
    </models>
    <resources>
      <cartex_setup>
        <setup>
          <module>Wdc_Cartex</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </cartex_setup>
      <cartex_write>
        <connection>
          <use>core_write</use>
        </connection>
      </cartex_write>
      <cartex_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cartex_read>
    </resources>
    <events>
      <sales_quote_remove_item>
        <observers>
          <cartex>
            <type>singleton</type>
            <class>Wdc_Cartex_Model_Observer</class>
            <method>wdcSalesQuoteRemoveItem</method>
          </cartex>
        </observers>
      </sales_quote_remove_item>
    </events>
  </global>
</config>
